<div class="page page-gallery" ng-controller="GalleryCtrl">




  <!-- page header -->
  <div class="pageheader">

    <h2>Manage Gallery Sekolah</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> SMPN 2 Sungai Penuh</a>
        </li>
        <li>
          <a ui-sref="app.gallery.list">Manage Gallery Sekolah</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent" style="min-height: 800px">

    <uib-tabset class="tab-nopadding">

      <uib-tab heading="Foto Gallery Sekolah">

        <ul class="mix-filter pull-right" ng-repeat="item in tag" >
          <li class="filter" data-filter=".{{item.TAG}}">
            {{item.TAG}}
          </li>
        </ul>
        <ul class="mix-filter pull-right">
          <li class="filter active" data-filter="all">
            All
          </li>
        </ul>

        <ul class="mix-controls">
          <li class="select-all">
            <label class="checkbox checkbox-custom checkbox-custom-sm inline-block m-0">
              <input type="checkbox" ng-model="selectedAll" ng-click="selectAll()"><i></i> Select all
            </label>
          </li>
          <li ng-class="{'disabled': isSelected}">
            <a ui-sref="app.gallery.new"><i class="fa fa-plus"></i> Add Foto</a>
          </li>
          <li ng-class="{'disabled': !isSelected}">
            <a href="javascript:;" ng-disabled="images.selected.length >= 1"><i class="fa fa-pencil"></i> Edit</a>
          </li>
          <li ng-class="{'disabled': !isSelected}">
            <a href="javascript:;"><i class="fa fa-trash-o"></i> Delete</a>
          </li>
        </ul>

        <!-- row -->
        <div class="row mix-grid" ui-jq="mixItUp">

          <div class="gallery" ui-jq="magnificPopup"
               ui-options="{
            delegate: 'a.img-preview',
		        type: 'image',
		        tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
              enabled: true,
              navigateByImgClick: true,
              preload: [0,1]
            }
           }">

            <!-- col -->
            <div class="col-md-3 col-sm-4 mb-20 mix mix_all {{image.TAG}}" ng-class="{'selected': image.selected}" ng-repeat="image in images">
              <div class="img-container">
                <img class="img-responsive" ng-src="{{image.GAMBAR}}" alt="">
                <div class="img-details">
                  <h4 class="custom-font">{{image.JUDUL}}</h4>
                  <div class="img-controls">
                    <a href="javascript:;" class="img-select" ng-click="selectImage(image.ID)">
                      <i class="fa fa-circle-o" ng-show="!image.selected"></i>
                      <i class="fa fa-circle" ng-show="image.selected"></i>
                    </a>
                    <a class="img-preview" href="{{image.GAMBAR}}" title="{{image.KETERANGAN}}">
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /col -->

          </div>

        </div>
        <!-- /row -->

      </uib-tab>
    </uib-tabset>

  </div>
  <!-- /page content -->




</div>
