<div class="page page-products" ng-controller="PengumumanEditCtrl">
  <div class="pageheader">
    <h2>Edit Pengumuman</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.pengumuman.list">Manage Pengumuman</a>
        </li>
        <li>
          <a ui-sref="app.pengumuman.edit">Edit Pengumuman</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- row -->
  <div class="row">


    <div class="col-md-12">

      <!-- tile -->
      <section class="tile tile-simple">


        <!-- tile body -->
        <div class="tile-body" ng-include="'views/pengumuman/_form.html'">


        </div>
        <!-- /tile body -->


      </section>
      <!-- /tile -->

    </div>

  </div>
  <!-- /row -->

</div>


